{% extends "blog/base.html" %}
{% block contento %}
	{% for post in posts %}
		<article class="media content-section">
        <img class="rounded-circle article-img" src="{{ post.autor.profile.image.url }}" alt="imagen de perfil">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="{% url 'user-posts' post.autor.username %}">{{ post.autor }}</a>
            <small class="text-muted">{{ post.fecha|date:"j F, Y." }}</small>
          </div>
          <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.titulo }}</a></h2>
          <p class="article-content">{{ post.contenido }}</p>
        </div>
        </article>
	{% endfor %}
  {% if is_paginated %}

    {% if page_obj.has_previous %}
      <a class="btn btn-outline-info btn-sm mb-4" href="?page=1">Primera</a>
      <a class="btn btn-outline-info btn-sm mb-4" href="?page={{ page_obj.previous_page_number }}">Previa</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
        <a class="btn btn-info btn-sm mb-4" href="?page={{ num }}">{{ num }}</a>
      {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <a class="btn btn-outline-info btn-sm mb-4" href="?page={{ num }}">{{ num }}</a>      
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
      <a class="btn btn-outline-info btn-sm mb-4" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
      <a class="btn btn-outline-info btn-sm mb-4" href="?page={{ page_obj.paginator.num_pages }}">Ultima</a>
    {% endif %}

  {% endif %}
{% endblock contento %}
