{% extends "blog/base.html" %}
{% block contento %}	
  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ object.autor.profile.image.url }}" alt="imagen de perfil">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{% url 'user-posts' object.autor.username %}">{{ object.autor }}</a>
        <small class="text-muted">{{ object.fecha|date:"j F, Y." }}</small>        
      </div>
      <h2 class="article-title">{{ object.titulo }}</h2>
      <p class="article-content">{{ object.contenido }}</p>
      {% if object.autor == user %}
          <a class="btn btn-info btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
          <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
      {% endif %}
    </div>
  </article>	
{% endblock contento %}
