{% extends "blog/base.html"%}
{% block contento %}
	<div class="content-section">
		<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Eliminar Post!</legend>
				<h2>Seguro de eliminar el Post? {{ object.titulo }}</h2>
			</fieldset>
			<div class="form-group">
				<button class="btn btn-danger" type="submit">Delete</button>
				<a class="btn btn-secondary" href="{% url 'post-detail' object.id %}">Cancel</a>
			</div>
		</form>
	</div>
{% endblock contento %}