{% extends "blog/base.html"%}
{% load crispy_forms_tags  %}
{% block contento %}
	<div class="content-section">
		<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Ingresar</legend>
				{{ form|crispy }}
			</fieldset>
			<div class="form-group">
				<button class="btn btn-info" type="submit">Login</button>
				<small class="text-muted ml-2">
					Olvidaste el password?  <a href="{% url 'password_reset' %}">Click Aqui!</a>
				</small>
			</div>
		</form>
		<div class="border-top pt-3">
			<small class="text-muted">
				No tiene una cuenta? <a class="ml-2" href="{% url 'register' %}">Registrese Ahora</a>
			</small>
		</div>
	</div>
{% endblock contento %}