{% extends "blog/base.html"%}

{% block contento %}
	<h2>Has salido de la aplicacion!</h2>	
	<div class="border-top pt-3">
		<small class="text-muted">
			<a href="{% url 'login' %}">Ingresar Nuevamente</a>
		</small>
	</div>
	
{% endblock contento %}