{% extends "blog/base.html"%}
{% load crispy_forms_tags  %}
{% block contento %}
	<div class="content-section">
		<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Resetear Password</legend>
				{{ form|crispy }}
			</fieldset>
			<div class="form-group">
				<button class="btn btn-info" type="submit">Reset</button>
			</div>
		</form>
	</div>
{% endblock contento %}